*.log
brothers-bbq.dev/wp-config.php
brothers-bbq.dev/wp-content/advanced-cache.php
brothers-bbq.dev/wp-content/backup-db/
brothers-bbq.dev/wp-content/backups/
brothers-bbq.dev/wp-content/ai1wm-backups/
brothers-bbq.dev/wp-content/envato-backups/
brothers-bbq.dev/wp-content/blogs.dir/
brothers-bbq.dev/wp-content/cache/
brothers-bbq.dev/wp-content/upgrade/
brothers-bbq.dev/wp-content/uploads/
brothers-bbq.dev/wp-content/wp-cache-config.php
brothers-bbq.dev/wp-content/plugins/hello.php

brothers-bbq.dev/.htaccess
brothers-bbq.dev/license.txt
brothers-bbq.dev/readme.html
brothers-bbq.dev/sitemap.xml
brothers-bbq.dev/sitemap.xml.gz

.DS_Store
